*{
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid black;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-flow: row nowrap;
}

.logoamg{
    height: 100px;
}