<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Ананасовый десерт</title>
    <style>
        *{
            margin:0px;
        }
    </style>
</head>
<body style="font-size:24px;">
<h1>Ананасовый десерт</h1>
<img src="{% static 'news/img/десерт.jpg' %}" alt="Фоточка  не загрузилась). Представляй сам этот десерт ананасовый. Это не моя проблема)">
<h2>Описание десерта:</h2>
<p>С ним отлично сочетаются по вкусу консервированные ананасы и кедровые орешки.
    В итальянской кухне в блюда чаще всего добавляют кедровые орехи.
    В этом десерте вы можете заменить их на дробленый жареный миндаль.</p>
<h2>Ингредиенты:</h2>
<ul>
    <li>Молоко — 300 Миллилитров (концентрированное)</li>
    <li>Ананас консервированный — 1/2 Штуки (банка)</li>
    <li>Орехи кедровые — 70 Грамм (или миндаль)</li>
    <li>Желатин — 15 Грамм (быстрорастворимый)</li>
</ul>
<h2>Способ приготовления:</h2>
<ol>
    <li>Подготовьте необходимые продукты. Ананасы откиньте на сито, сироп слейте.</li>
    <li>Желатин замочите в сиропе, отставьте на 15 минут для набухания.</li>
    <li>Желатин распустите на медленном огне, не кипятите.
        Снимите с огня, взбивайте миксером до пышной пены, медленно вливая концентрированное молоко.</li>
    <li>Разлейте массу по силиконовым формочкам, поставьте на 1 час в холодильник.
        Разложите поверх немного схватившегося желе кусочки ананаса и кедровые орешки.
        Поставьте десерт в холодильник до полного застывания.</li>
    <li>Подавайте десерт с кусочками ананаса и орешками. Приятного аппетита!</li>
</ol>
</body>
</html>
