<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>Новости</h1></title>
</head>
<body>
    <h1>Название статьи</h1>
    <h4>Заголовок 1-ой части</h4>
    <p> <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing, elit.
        Fugiat ipsam cumque <i>provident</i>, iure dicta illo laboriosam delectus, dolor voluptates.
        Rem molestias quas amet doloribus sunt voluptates nihil consequatur blanditiis laborum.</p>
    <p>S = V<sub>0</sub> * t + (a * t<sup>2</sup>)/2</p>
    <p>(u<sup>a</sup>)' = a * u<sup>a-1</sup> * u'</p>
</body>
</html>