<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="{%static 'news/css/news.css'%}">
</head>
<body>
<header>
    <nav>
        <img class="logoamg" src="{%static 'news/img/toyota-mark-2.jpg'%}" alt="у соболезную, что твой комп не тянет даже картинку">
        <ul>
            <li><a href="{%url 'news:register' %}">Регистрация</a></li>
            <li><a href="{%url 'news:authorization' %}">Авторизация</a></li>
        </ul>
    </nav>
</header>
<main>
    {% for item in news %}
    <div class="new">
        <h2 class="zagolovok">{{item.title}}</h2>
        <p class="text">{{item.about}}</p>
        <p class="date">Дата публикации: {{item.created_at}}</p>
        <a class="more">Подробнее</a>
    </div>
    {% endfor %}
</main>
<footer>

</footer>
</body>
</html>